{% extends 'layouts/base.html' %}

{% block body %}

    <div class="container mt-5">
        <h2 class="mb-4">Editar item</h2>
        <form action="/edit/{{product.id}}" method="post">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" required>
            </div>
            
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">
                    {{product.description}}
                </textarea>
            </div>
            
            <div class="form-group">
                <label for="qtd">Quantity</label>
                <input type="number" class="form-control" id="qtd" name="qtd" required min="1" value="{{product.qtd}}">
            </div>
            
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" required step="0.01" min="0" value="{{product.price}}">
            </div>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="has_discount" name="has_discount" {%if product.has_discount %} checked {% endif %}>
                <label class="form-check-label" for="has_discount">Has Discount?</label>
            </div>
            
            <div class="form-group">
                <label for="discount">Discount (%)</label>
                <input type="number" class="form-control" id="discount" name="discount" step="0.01" min="0" max="100" value="{{product.discount}}">
            </div>
            
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input type="url" class="form-control" id="image_url" name="image_url" value="{{product.image_url}}">
            </div>
            
            <button type="submit" class="btn btn-primary">Editar item</button>
        </form>
    </div>

{% endblock body %}
