{% extends 'layouts/base.html' %}
{% block body %}

<div class="container mt-5">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ product.image_url }}" class="card-img" alt="{{ product.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">{{ product.description }}</p>
                    
                    <div class="d-flex flex-column mt-3">
                        <p class="mb-2"><strong>Price:</strong> ${{ product.price }}</p>
                        <p class="mb-2"><strong>Quantity:</strong> {{ product.qtd }}</p>
                        {% if product.has_discount %}
                            <p class="mb-2"><strong>Discount:</strong> {{ product.discount }}%</p>
                            <p class="text-danger"><strong>Discounted Price:</strong> ${{ product.price * (1 - product.discount / 100) | round(2) }}</p>
                        {% endif %}
                    </div>
                    <a href="{{url_for('edit_page', id=product.id)}}">
                        <button type="button" class="btn btn-success">Editar</button>
                    </a>
                    <a href="{{url_for('delete_item', id=product.id)}}">
                        <button type="button" class="btn btn-danger">Deletar</button>
                    </a>
                    <br>                    
                    <a href="/" class="btn btn-primary mt-4">Voltar ao catálogo</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}